<h1 class="margin32px">
  {{title}}
</h1>
<form method="POST">
  {{! Input names have to match the name of the fields in the mongo schema object }}
  {{! Mapping is not automatic, but it's best practices }}
  <fieldset>
    <label for="name" class="col-2">
      Name:
    </label>
    <input class="marginbottom32px" name="name" id="name" required value="{{book.name}}" />
  </fieldset>
  <fieldset>
    <label for="author" class="col-2">
      Author:
    </label>
    <input class="marginbottom32px" name="author" id="author" required value="{{book.author}}" />
  </fieldset>
  <fieldset>
    <label for="language" class="col-2">
      Language:
    </label>
    <input class="marginbottom32px" name="language" id="language" required value="{{book.language}}" />
  </fieldset>
  <fieldset>
    <label for="publishedDate" class="col-2">
      Published Date:
    </label>
    <input class="marginbottom32px" name="publishedDate" id="publishedDate" required type="date" value="{{toShortDate book.publishedDate}}" />
  </fieldset>
  <fieldset>
    <label for="arrivedDate" class="col-2">
      Arrived Date:
    </label>
    <input class="marginbottom32px" name="arrivedDate" id="arrivedDate" required type="date" value="{{toShortDate book.arrivedDate}}" />
  </fieldset>
  <fieldset>
    <label for="genre" class="col-2">
      Genre:
    </label>
    {{! <input name="course" id="course" required /> }}
    <select class="marginbottom32px" name="genre" id="genre">
      {{#each genres}}
        {{createOption this.name ../book.genre}}
      {{/each}}
    </select>
  </fieldset>
    <fieldset>
    <label for="about" class="col-2">
      About:
    </label>
    <input class="marginbottom32px" name="about" id="about" required value="{{book.about}}" />
  </fieldset>
  <fieldset>
    <label for="status" class="col-2">Status: </label>
    <select class="marginbottom32px" name="status" id="status">
      {{createOption 'Available' book.status }}
      {{createOption 'Issued' book.status}}
    </select>
  </fieldset>
  {{! No need to specify Status since it has a default value }}
  {{! Button needs to be inside <form> element to trigger POST }}
  <button class="btn btn-primary col-4">
  Save
  </button>
</form>