<h1 class="margin32px">{{title}}</h1>
{{!-- TODO: add navigation to add a new project --}}
{{#if user}}
<a href="/books/add">Add a new book</a>
<p></p>
{{/if}}
{{!-- TODO: add a table to display projects from MongoDB --}}
<table class="table table-info table-striped table-hover table-sortable">
  <thead class="text-center">
    <th class="col-2">Name</th>
    <th >Author</th>
    <th>Languge</th>
    <th>Published Date</th>
    <th>Arrived Date</th>
    <th>Genre</th>
    <th>About</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
  {{#each dataset}}
    <tr>
      <td class="col-2">{{this.name}}</Td>
      <td>{{this.author}}</Td>
      <td>{{this.language}}</Td>
      <td>{{toShortDate this.publishedDate}}</Td>
      <td>{{toShortDate this.arrivedDate}}</Td>
      <td>{{this.genre}}</Td>
      <td class="col-3">{{this.about}}</Td>
      <td>{{this.status}}</Td>
      <td>
        {{#if ../user}}
        <a href="/books/edit/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/books/delete/{{this._id}}" class="btn btn-danger" onclick="confirmDeletion()">Delete</a>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>